.article-list {
  width: 800px;
  margin-left: 40px;
  padding-top: 50px;
  float: left;

  .item {
    margin-bottom: 30px;
    background: #b993d6;
    background: linear-gradient(to bottom, #ff8b80, #fff);
    background: -webkit-linear-gradient(to bottom, #ff8b80, #fff);
    border-bottom: 1px solid #ffefed;
    a {
      &:hover {
        // color: #2b3f52;
        color: #666;
        text-decoration: none;
      }
    }
    .header {
      padding: 20px 20px 0;
      color: #fff;
      h2 {
        color: #fff;
      }
      .entry-meta {
        margin-bottom: 0px;
        color: #fff;
      }
    }

    .entry-content {
      color: #2b3f52;
      padding: 20px;
    }
  }
}
